<vex-page-layout>
<vex-page-layout-header fxLayout="column" fxLayoutAlign="center start">
    <div [class.px-gutter]="'fullwidth'"
         class="w-full flex flex-col sm:flex-row justify-between">
        <div>
            <h1 class="title mt-0 mb-1">Page 4</h1>
            <vex-breadcrumbs [crumbs]="[' Page 4 ']"></vex-breadcrumbs>
        </div>

    </div>
</vex-page-layout-header>
<div style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-8 mx-auto">

      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Create Account</ng-template>

            <div class="mat-header">
              <h2>Create Account</h2>
              <p>Set up your account for testing purposes.</p>
            </div>

            <mat-form-field class="form-width" appearance="fill">
              <mat-label>Account Username</mat-label>
              <input matInput placeholder="" formControlName="firstCtrl" required>
              <mat-hint>This will be your unique login name.</mat-hint>
            </mat-form-field>
            <mat-form-field class="form-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="" formControlName="firstCtrl" required>
            </mat-form-field>
            
            <table class="form-width" cellspacing="0"><tr>
              <td><mat-form-field class="form-width" appearance="fill">
                <mat-label>E-Mail</mat-label>
                <input matInput placeholder="" formControlName="firstCtrl" required>
              </mat-form-field></td>
              <td><mat-form-field class="form-width" appearance="fill">
                <mat-label>Code</mat-label>
                <mat-select formControlName="firstCtrl" required>
                  <mat-option value="option1">+94</mat-option>
                  <mat-option value="option2">+64</mat-option>
                  <mat-option value="option3">+56</mat-option>
                </mat-select>
              </mat-form-field></td>
              <td><mat-form-field class="form-width" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="" formControlName="firstCtrl" required>
              </mat-form-field></td>
            </tr></table>

            <div align="right">
              <div class="button-row">
                <button mat-raised-button (click)="stepper.reset()">RESET</button>
                <button mat-raised-button color="primary" matStepperNext>NEXT</button>
              </div>
            </div>

          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select a Password</ng-template>
            <div class="mat-header">
              <h2>Select a Password</h2>
              <p>Enter your password you will use to log in.</p>
            </div>
            <mat-form-field class="form-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" maxlength="6" formControlName="secondCtrl" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Your password should be atleast 6 characters long.</mat-hint>
            </mat-form-field>
            <mat-form-field class="form-width" appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" maxlength="6" formControlName="secondCtrl" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Please type in your password again.</mat-hint>
            </mat-form-field>
          
            <div align="right">
              <div class="button-row">
                <button mat-raised-button matStepperPrevious>PREVIOUS</button>
                <button mat-raised-button color="primary" matStepperNext>NEXT</button>
              </div>
            </div>

          </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div class="mat-header">
              <h2>You're almost there!</h2>
              <p>To finish registration, accept our terms of service and click on "Create Account".</p>
            </div>
            <mat-checkbox [(ngModel)]="isChecked" class="example-margin"  required>I agree to the terms of service and the usual stuff. *</mat-checkbox>

            <div align="right">
              <div class="button-row">
                <button mat-raised-button matStepperPrevious>BACK</button>
                <button [disabled]="!isChecked"  mat-raised-button color="primary">CREATE ACCCOUNT</button>
              </div>
            </div>
          
        </mat-step>
      </mat-horizontal-stepper>

    </div>
  </div>
</div>
</vex-page-layout>