<vex-page-layout>
<!-- <vex-page-layout-header fxLayout="column" fxLayoutAlign="center start">
    <div [class.px-gutter]="'fullwidth'"
         class="w-full flex flex-col sm:flex-row justify-between">
        <div>
            <h1 class="title mt-0 mb-1">Page 6</h1>
            <vex-breadcrumbs [crumbs]="[' Page 6 ']"></vex-breadcrumbs>
        </div>

    </div>
</vex-page-layout-header> -->
<div class="error-bg">
  <div class="row">
    <div class="col-md-6 mx-auto ">
      <div style="text-align: center; padding-top: 35px;">
        <img class="w-full max-w-lg mx-auto mb-6" src="../../../../assets/img/illustrations/28.svg" alt="My Happy SVG" style="height: 500px;" />
      </div>
      <div style="text-align: center; padding-top: 35px;">
        <h1 class="display-3 font-medium m-0">404</h1>
        <h2 class="headline m-0">Page not found.</h2>
      </div>
      
  
    </div>
  </div>
</div>
</vex-page-layout>