@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

:root {
--sidenav-background:#611fdb;
--sidenav-toolbar-background: #611fdb;
--sidenav-item-dropdown-background: #611fdb;
--sidenav-color: #b442ff;
--sidenav-item-color: #b442ff;
--sidenav-item-background-active: #0265bb;
--sidenav-item-dropdown-background-hover: #0265bb;
--toolbar-color: #1f1fff;
--toolbar-icon-color: #1f1fff;
--sidenav-item-icon-color: #1f1fff;
--sidenav-item-icon-color-active: #1b2ba1;
--sidenav-item-color-active: white;
--color-primary: #1f1fff;
}

